.main_container {
  width: 740px;
  height: 360px;
  background-color: green;
  flex-direction: row;
  display: flex;
}

.first_bar {
  width: 50px;
  height: 360px;
  background-color: #21253e;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}

.second_bar {
  width: 100px;
  height: 360px;
  background-color: #292d4c;
}

.hello {
  position: relative;
  padding: 10px;
  background-color: #a8ddfd;
  width: 50px;
  height: auto;
  text-align: left;
  font-size: 10px;
  border: 1px solid #97c6e3;
  border-radius: 10px;
  word-wrap: break-word;

}
.bolo {
  font-size: 11px;
}
.display {
  height:300px;

  border-radius: 16px;
}
.display2 {
  height: 300px;
  border-radius: 16px;
}

.scroll {
  overflow:scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

}
.scroll::-webkit-scrollbar {
  overflow:scroll;
  display: none; /* Chrome, Safari, Opera*/
}




.icon{
  color: fa-inverse;
  margin-top: 50%; 
  margin-left: 30%;
  width:20px;
  height:20px;
  margin-bottom: 20%;
}
.messageinput{
  width:100%;
  height:15px;
  font-size:10px;
  text-align:center;

}
.messagebutton{
  width:100%;
  height:20px;
  font-size:7px;
  background-color:#97c6e3;
}

.messagebuttondiv{
  width:100%;
  display:flex; 
  flex-direction: column;



}
.mutetext{
  color: aquamarine;
  margin-left: 12px;
  font-size: 7px;

}
