

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="#")



        title singmeta
    body 

    div(class="main_container")
      div(class="first_bar")
        img#musicbutton(class="icon" src='/public/images/music.png')
        text#musictext(class="mutetext") 중단중
        img#mute(class="icon" src='/public/images/mic.png')
        text#mutetext(class="mutetext") 작동중
        img(class="icon" src='/public/images/bubble-chat.png' onclick="chatscreen()")
        img(class="icon" src='/public/images/people.png' onclick="visitorscreen()")
        img(class="icon" src='/public/images/exit.png' onclick="outfunction()")

      div(class="second_bar")
        div#scroll(class="scroll")
          div(class="display scroll" id="msg-field")
        div#scroll2(class="scroll")
          div(class="display2 scroll" id="msg-field")
          div
            div#welcome
             form
                 input#roomname(placeholder="room name", required, type="text")
                 button#enterbutton Enter Room
                  
        div#room
          h3
          ul
          form#msg(class="messagebuttondiv")
              textarea(class="messageinput",placeholder ="텍스트 입력",name="messageinput2", cols="30", rows="10") 
              button(class="messagebutton") 전송

 

          
                 
      div
        div(id="index" style="width:610px; height:360px;")


        



    div#call
      div#myStream
        video#myFace(autoplay,playsinline, width="400", height="400")
        video#peerFace(autoplay,playsinline, width="400", height="400")





    
        script(src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js")
        script(src="/socket.io/socket.io.js")
        script(src="/public/app.js")
        script(src="/public/bundle.js")


        style
          include main.css

         


     


     
       
    
     
        
        

    


